.clock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 8px;
}

.time {
  color: var(--white);
  font-size: 0.85rem;
  font-family: var(--font-mono);
  text-align: right;
}

.date {
  color: var(--white);
  font-size: 0.85rem;
  font-family: var(--font-mono);
  text-align: right;
}
