.navbar {
  position: absolute;
  bottom: 16px;
  min-width: 256px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 42;
  background: #fafafa60;
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 8px;
}

.paragraph {
  color: black;
  font-size: 0.85rem;
  font-family: var(--font-mono);
}
